# ignore these files
*.user
*.suo
*.docstates
*.g.i.cs
*.g.cs
*.baml
*.tlog
*.lref
*.cache
obj/
TestResults/
*Re[sS]harper*.*
_Re[sS]harper*/
*Doc.xml
vendor/ironruby
.bundle
*Thumbs.db
build/
bin/Release/
bin/Debug/
VSIX/bin
Tests/bin
Tests/obj
VSIX/*ReSharper
build*.txt
testimpactdata.sdf
*.vsp
*.pdb
DEMO BUILD TRIGGER.txt
BuildProcessTemplates/

