<?xml version="1.0" encoding="utf-8"?>

<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ThoughtWorks.VisualStudio.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ThoughtWorks.VisualStudio.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ThoughtWorks.VisualStudio.Properties.Settings>
            <setting name="MingleUser" serializeAs="String">
                <value />
            </setting>
            <setting name="MinglePassword" serializeAs="String">
                <value />
            </setting>
            <setting name="MingleHost" serializeAs="String">
                <value />
            </setting>
            <setting name="Trace" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TraceLog" serializeAs="String">
                <value>tvsclog.txt</value>
            </setting>
            <setting name="TraceEntryExit" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MingleProject" serializeAs="String">
                <value>Replace Me!</value>
            </setting>
        </ThoughtWorks.VisualStudio.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <ThoughtWorks.VisualStudio.Properties.Settings>
            <setting name="EnablePropertyUpdating" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FeedbackEmailRecipients" serializeAs="String">
                <value>support@thoughtworks.com</value>
            </setting>
            <setting name="FeedbackAllowAttachment" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Copyright" serializeAs="String">
                <value>Copyright (C) 2010,2011 ThoughtWorks, Inc.</value>
            </setting>
        </ThoughtWorks.VisualStudio.Properties.Settings>
    </applicationSettings>
</configuration>