<?xml version="1.0" encoding="utf-8"?>

<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ThoughtWorks.VisualStudio.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ThoughtWorks.VisualStudio.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ThoughtWorks.VisualStudio.Properties.Settings>
            <setting name="MingleUser" serializeAs="String">
                <value />
            </setting>
            <setting name="MinglePassword" serializeAs="String">
                <value />
            </setting>
            <setting name="MingleHost" serializeAs="String">
                <value />
            </setting>
            <setting name="MingleProject" serializeAs="String">
                <value />
            </setting>
            <setting name="MingleProtocol" serializeAs="String">
                <value />
            </setting>
            <setting name="GoUser" serializeAs="String">
                <value />
            </setting>
            <setting name="GoPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="GoHost" serializeAs="String">
                <value />
            </setting>
            <setting name="Trace" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TraceLog" serializeAs="String">
                <value>tvsclog.txt</value>
            </setting>
            <setting name="EmbedAuthInUrl" serializeAs="String">
                <value>yes</value>
            </setting>
            <setting name="GoPipeline" serializeAs="String">
                <value />
            </setting>
            <setting name="GoStage" serializeAs="String">
                <value />
            </setting>
            <setting name="GoJob" serializeAs="String">
                <value />
            </setting>
        </ThoughtWorks.VisualStudio.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <ThoughtWorks.VisualStudio.Properties.Settings>
            <setting name="Encoding" serializeAs="String">
                <value />
            </setting>
            <setting name="AddAuthHeader" serializeAs="String">
                <value>no</value>
            </setting>
            <setting name="MingleCardPostParamaterTemplate" serializeAs="String">
                <value>card[[paramatername]]=[value]</value>
            </setting>
            <setting name="MingleCardTransitionSegmentTemplate" serializeAs="String">
                <value>/cards/[card-no]/transitions.xml</value>
            </setting>
            <setting name="MingleCardSegmentTemplate" serializeAs="String">
                <value>/cards/[card-no]</value>
            </setting>
            <setting name="MingleCardTransitionPostSegmentTemplate" serializeAs="String">
                <value>transition_execution[[card]]=[value]</value>
            </setting>
            <setting name="EnablePropertyUpdating" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FeedbackEmailRecipients" serializeAs="String">
                <value>support@thoughtworks.com</value>
            </setting>
            <setting name="FeedbackAllowAttachment" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="GoVersion" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="GoStageJobDetailsSegmentTemplate" serializeAs="String">
                <value>/cruise/api/feeds/[feedtype]/[id].xml</value>
            </setting>
            <setting name="GoFeedSegmentTemplate" serializeAs="String">
                <value>/cruise/api/feeds/[feedtype].xml</value>
            </setting>
            <setting name="GoPropertyQuery" serializeAs="String">
                <value>/cruise/properties/search?pipelineName=[pipeline]&amp;stageName=[stage]&amp;amp;jobName=[job]&amp;limitPipeline=[pipelinecounter]&amp;limitCount=[number]</value>
            </setting>
        </ThoughtWorks.VisualStudio.Properties.Settings>
    </applicationSettings>
</configuration>